body {
    font-family:Arial, Helvetica, sans-serif;    
}

h2{
    font-size:1.4em;
    font-family:Arial, Helvetica, sans-serif;
    color:#888889;
    background-color:transparent;
    width: auto;
    right: 30px;
}

div{
    font-family:Arial, Helvetica, sans-serif;
}
dl{
    width:300px;
    margin:0;
}
dl dt{
    float:left;
    width:400px;
    text-decoration: underline;
}
dl dt dd{
    float:left;
    width:200px;
    font-weight: bold;
    text-decoration:underline;
}
.btnSubMenu {
    /*background: transparent url(/Images/btnSubMenu.gif) no-repeat scroll top right;*/        
    /*width:240px;
    height:30px;*/
    display: block;
    float: left;
    margin-right: 8px;    
    /*height: 28px;
    margin-right: 6px;*/
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-family: Arial,Helventica,sans-serif;
    font-size: 1.08em;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding-left:16px;
    padding-right:16px;
}

#btnSub1:active{
    background-position: bottom right;
}

#btnSub1{
	display:block;
    overflow:hidden;
    background: transparent url(/Images/buttonSubMenu-short.gif) no-repeat top right;
    background-size: cover;
	overflow:hidden;
	float:left;
	font: bold .80em Arial;
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	line-height:35px;
    background-position: bottom left;    
}

#btnSub2{
    display:block;
    overflow:hidden;
    background: transparent url(/Images/buttonSubMenu-mid.gif) no-repeat scroll top right;
    background-size: cover;
	overflow:hidden;
	float:left;
	font: bold .80em Arial;
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	line-height:35px;    
}

#btnSub3{
    display:block;
    overflow:hidden;
    background: transparent url(/Images/buttonSubMenu-mid.gif) no-repeat scroll top right;
    background-size: cover;
	overflow:hidden;
	float:left;
	font: bold .80em Arial;
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	line-height:35px;    
}

#btnSub4{
    display:block;
    overflow:hidden;
    background: transparent url(/Images/buttonSubMenu-mid.gif) no-repeat scroll top right;
    background-size: cover;
	overflow:hidden;
	float:left;
	font: bold .80em Arial;
	color:#FFFFFF;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	line-height:35px;    
}

#AOLogo{
    position: relative;
    width: 350px;
    height: auto;
    margin: 10px 0px;
}

#CRD{
    position: absolute;
    right: 5px;
}

#NavigationBar{
    position: relative;
    height: 60px;
    background-color: #353535;
}

#Navi ul li{
    position: relative;
    top: 15px;
    border-radius:0px;
    height: 45px;
    width: 200px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;    
    padding:15px 12px;
    margin: 0;
    background-color: #25477d;
    background-repeat: no-repeat;    
}

#Navi ul li a{
    color:white;
    font-weight:bold;
}

#NavigationBar ul li a.highlight:hover{
    /*font-weight:bold;*/
    color: aliceblue;
    text-decoration:underline;
    cursor: pointer;
}

#CDV{
    position: absolute;
    right: 5px;
}
#subNavigationBar{
    position: relative;
    height: 60px;
    /*background-color: #353535;*/
    background-color:#383f49;
}
#subNavi ul li{    
    position: relative;
    top: 15px;
    border-radius:0px;
    height: 55px;
    /*width: 240px;*/
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;        
    padding:15px 12px;
    margin: 0;
    background-color: #25477d;
    background-repeat: no-repeat;    
}

#subNavi ul li a{
    color:white;
    font-weight:bold;
    vertical-align:central;    
}

#subNavi ul li a.highlight:hover{
    /*font-weight:bold;*/
    color: aliceblue;
    text-decoration:underline;
    cursor: pointer;
}

#subNavi a.static.selected{
    color:aqua;
    background:aqua;
}
/*.submenutest{    
    color:aqua !important;
    background-color:aqua !important;
}*/

.viewer{
    width:100%;
    background-color:#fff;
    margin:5px 0 10px 0;
    border:solid 1px #525252;
    border-collapse:collapse;
    text-wrap:avoid;
}
.viewer .detailheader td{
    font-weight:bold;
    background-color:#2b4b83;
    color:white;
}
.viewer .detailfieldheader{
    width:35%;
}
.viewer td{
    padding:10px;
    border:solid 1px #c1c1c1;
    color:#717171;
    text-align:left;
}
.viewer .alternatingRow{
    background:#fcfcfc
}