

h3{
    position: relative;
    font-size:1.1em;
    font-family:Arial, Helvetica, sans-serif;
    color: #888889;
    background-color:transparent;
    width: auto;
    margin: 2px 15px;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    display:block;
    font:.8em;
}

input[type=text]{
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-size: 40px 40px;
    background-position: initial; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.btn1{
    padding: 14px 25px;
    border: none;
    border-radius: 8px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #25477d;
}

.btn1:hover{
    background-color: transparent;
    color: #79b9ef;
    border: 2px solid #79b9ef;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*
#Navi ul li{
    position: relative;
    top: 15px;
    border-radius:0px;
    height: 45px;
    width: 200px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;    
    padding:15px 12px;
    margin: 0;
    background-color: #25477d;
    background-repeat: no-repeat;    
}

#Navi ul li a{
    color:white;
    font-weight:bold;
}

#NavigationBar ul li a.highlight:hover{
    color: aliceblue;
    text-decoration:underline;
    cursor: pointer;
}

*/


#searchIcon{
    position: relative;
    left: 34px;
    font-size: 15px;
    color: #ccc;
}

#search{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#errorMsg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 40px 0px 0px 0px;
    padding: 0;
}

#btn2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 60px 0px 0px 0px;
    padding: 0;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: black;
    background-color: transparent;
}

#results{
    position: center;
    margin: 100px 100px 100px 100px;
    font-family:Arial, Helvetica, sans-serif;    
}






/* The Modal (background) */
#myModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#hbHeading{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: #1d1c1c;
}

/* Modal Content */
.hintBox{
    width: 500px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    background-color: #fefefe;
}

/* The Close Button */
.closeBtn {
    float: right;
    color: #aaaaaa;

    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover, .closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
